[submodule "lib/boost-gil-contributions"]
	path = lib/boost-gil-contributions
	url = git://github.com/berenm/boost-gil-contributions.git
[submodule "lib/registry"]
	path = lib/registry
	url = git://github.com/berenm/gtulu-reference.git
[submodule "lib/logging"]
	path = lib/logging
	url = git://github.com/berenm/liblogging.git
[submodule "lib/gtulu-reference"]
	path = lib/gtulu-reference
	url = git://github.com/berenm/gtulu-reference.git
[submodule "cmake/extra"]
	path = cmake/extra
	url = git://github.com/berenm/cmake-extra.git
