html {
  font-size: 12px;
  font-family: sans;
}

.content {
  margin: auto;
  width: 80em;
}

.logo {
  background: url(gtulu-logo-small.png) center center no-repeat;
  float: right;
  height: 100px;
  width: 187px;
}

.title {
  font-size: 8em;
  margin-bottom: 1%;
}

.title a {
  font-weight: bold;
  color: #0E5910;
  text-shadow: 1px 1px 3px #165944;
  text-decoration: none;
}

.subtitle {
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 1px solid ;
  padding-bottom: 0.5%;
  margin-bottom: 3%;
}

.lib {
  color: black;
}

.features,
.coverage {
  list-style: none;
  padding-left: 0;
  margin-left: 2em;
  font-size: 0.9em;
}

.features li,
.coverage li.covered {
  background: url(bullet-small.png) left center no-repeat;
  color: #000000;
  padding-top: 0.45em;
  height: 1.5em;
  padding-left: 1.5em;
}

.coverage li {
  float: left;
  width: 30%;
}
.coverage li.category {
  clear: left;
  width: 100%;
}

.features li.error,
.coverage li {
  background: url(bullet-small-error.png) left center no-repeat;
  color: #BBBBBB;
  padding-top: 0.45em;
  height: 1.5em;
  padding-left: 1.5em;
}

.features li.category,
.coverage li.category {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 1em;
}

.menu {
  list-style: none;
  display: block;
  font-size: 2em;
}

.menu a {
  text-decoration: none;
  color: #7FA16B;
}

.menu a:hover {
  font-weight: bold;
  border-bottom: 5px solid;
  color: #165944;
  border-bottom: 5px solid #165944;
}

.menu li {
  float: left;
  width: 25%;
}

.footer {
  float: right;
  margin-top: 3%;
  font-style: italic;
  text-align: right;
}
