html {
  font-size: 12px;
  font-family: sans;
}

.content {
  margin: auto;
  width: 80em;
}

.logo {
  background: url(gtulu-logo-small.png) center center no-repeat;
  float: right;
  height: 100px;
  width: 187px;
}

.title {
  margin-bottom: 1%;
}

.title a {
  font-weight: bold;
  color: #0E5910;
  text-shadow: 1px 1px 3px #165944;
  text-decoration: none;
}

.subtitle {
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 1px solid ;
  padding-bottom: 0.5%;
  margin-bottom: 3%;
}

.lib {
  color: black;
}

.features,
.coverage {
  list-style: none;
  padding-left: 0;
  margin-left: 2em;
  font-size: 0.9em;
}

.features li,
.coverage li.covered {
  background: url(bullet-small.png) left center no-repeat;
  color: #000000;
  padding-top: 0.45em;
  height: 1.5em;
  padding-left: 1.5em;
}

.coverage li {
  float: left;
  width: 23%;
}
.coverage li.category {
  clear: left;
  width: 100%;
}

.features li.error,
.coverage li {
  background: url(bullet-small-error.png) left center no-repeat;
  color: #BBBBBB;
  padding-top: 0.45em;
  height: 1.5em;
  padding-left: 1.5em;
  margin-left: 15%;
  margin-right: -10%;
}

.coverage.legend {
  border-bottom: dashed 2px #BBBBBB;
  overflow: hidden;
  padding-bottom: 25px;
  padding-top: 0;
  margin-top: -20px;
}

.coverage li.legend {
  background: none left center no-repeat;
  clear: left;
  width: 100%;
  color: #000000;
  padding-top: 0.45em;
  height: 1.5em;
  padding-left: 1.5em;
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 1em;
  margin-left: 0;
  margin-right: 0;
}

.features li.category,
.coverage li.category {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 1em;
  margin-left: 0;
  margin-right: 0;
}

.menu {
  list-style: none;
  display: block;
  font-size: 2em;
}

.menu a {
  display: block;
  text-decoration: none;
  color: #7FA16B;
}

.menu a:hover {
  font-weight: bold;
  border-bottom: 5px solid;
  color: #165944;
  border-bottom: 5px solid #165944;
}

.menu li {
  float: left;
  width: 25%;
}

.footer {
  float: right;
  margin-top: 3%;
  font-style: italic;
  text-align: right;
}

.gl41:before {
  content: "⁴⁺";
  display: block;
  float: left;
  margin-left: -2.5em;
  width: 0;
  color: #d23131;
}
.group::after {
  content: ":";
}
.gl41.group::before {
  float: none;
  display: inline;
}

.coverage a:link,
.coverage a:hover,
.coverage a:active,
.coverage a:visited {
  color: inherit;
  text-decoration: inherit;
}
.coverage a:hover,
.coverage a:active {
  font-weight: bold;
}

.features li.group,
.coverage li.group {
  clear: left;
  color: #BBB;
  text-align: right;
  background: transparent;
  width: 10%;
  padding-right: 2%;
  margin-left: 0;
  margin-right: -14%;
}

li.group.partial {
  color: #5d855e;
}

li.group.covered {
  color: #004f02;
}

img {
  display: block;
  margin: 0;
  padding: 0;
}

